<div class="subnav" data-pjax="">
  <a id="sp-new-snippet" href="/github.com/snippets/new" class="sp-navigation btn btn-primary right" role="button" tabindex="0" data-hotkey="c">
    New snippet
  </a>

  <div class="left subnav-spacer-right" role="search">
      <div class="left select-menu js-menu-container js-select-menu subnav-search-context dropdown">
        <button class="btn btn-default dropdown-toggle select-menu-button js-menu-target dropdown-toggle" id="sp-snippets-dropdown-filter" type="button" aria-haspopup="true" data-toggle="dropdown" aria-expanded="true">
          Filters
        </button>
  <ul class="dropdown-menu" aria-labelledby="sp-snippets-dropdown-filter" style="width: 280px;">
    <li><a id="sp-snippets-user" href="#"><input type="checkbox" value="">   User (  <span></span>  )</a></li>
    <li><a id="sp-snippets-repo" href="#"><input type="checkbox" value="">   Respository (  <span></span>  )</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#"><input type="checkbox" value="">   Modified (modified:*)</a></li>
    <li><a href="#"><input type="checkbox" value="">   Created at (age:*)</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#"><input type="checkbox" value="">   Is fork (fork: true)</a></li>
  </ul>

      </div>

<form id="sp-snippets-search" accept-charset="UTF-8" action="/github.com/snippets" class="sp-submission subnav-search left" data-pjax="true" method="get">
      <div style="margin:0;padding:0;display:inline">
          <input name="utf8" value="✓" type="hidden">
          <input name="user" value="all" type="hidden">
          <input name="repo" value="all" type="hidden">
          <input name="fork" value="" type="hidden">
          <input name="createdAt" value="" type="hidden">
          <input name="modifiedAt" value="" type="hidden">
      </div>
      <input id="q" name="q" value="search scope" id="js-issues-search" class="subnav-search-input input-contrast" placeholder="Search all issues" aria-label="Search all issues" type="text">
      <svg aria-hidden="true" class="octicon octicon-search subnav-search-icon" height="16" role="img" version="1.1" viewBox="0 0 16 16" width="16"><path d="M15.7 14.3L11.89 10.47c0.7-0.98 1.11-2.17 1.11-3.47 0-3.31-2.69-6-6-6S1 3.69 1 7s2.69 6 6 6c1.3 0 2.48-0.41 3.47-1.11l3.83 3.81c0.19 0.2 0.45 0.3 0.7 0.3s0.52-0.09 0.7-0.3c0.39-0.39 0.39-1.02 0-1.41zM7 11.7c-2.59 0-4.7-2.11-4.7-4.7s2.11-4.7 4.7-4.7 4.7 2.11 4.7 4.7-2.11 4.7-4.7 4.7z"></path></svg>
</form>

</div>

  
  <div class="subnav-links left" role="navigation">
     <a href="/github.com/snippets" class="js-selected-navigation-item subnav-item sp-snippets-search btn btn-primary" data-selected-links="user">Yours</a>
     <a href="/github.com/snippets?type=global" class="js-selected-navigation-item subnav-item sp-snippets-search btn" data-selected-links="global">Global</a>
  </div>
  <div class="subnav-links left" role="navigation" style="padding-left:40px;">
      <div class="left select-menu js-menu-container js-select-menu subnav-search-context dropdown">
        <button class="btn btn-default dropdown-toggle select-menu-button js-menu-target dropdown-toggle" id="sp-snippets-dropdown-filter-result" type="button" aria-haspopup="true" data-toggle="dropdown" aria-expanded="true">
          Sort: Best matches
        </button>
  <ul class="dropdown-menu" aria-labelledby="sp-snippets-dropdown-filter-result">
    <li><a href="#">Best matches</a></li>
    <li><a href="#">By modified</a></li>
    <li><a href="#">By created</a></li>
    <li><a href="#">By stars</a></li>
    <li><a href="#">By forks</a></li>
  </ul>
  </div>
  </div>
</div>



<div class="table-list-header" id="js-issues-toolbar">
  <label class="table-list-header-select-all">
    <input class="js-check-all" type="checkbox">
  </label>

  <div class="table-list-filters">
    <div class="table-list-header-toggle states left">
      <a class="js-selected-navigation-item subnav-item snippets-remove">
        <i class="fa fa-trash fw"></i>  Remove
      </a>
    </div>
    <div class="table-list-header-toggle right">
      <div class="left select-menu js-menu-container js-select-menu js-load-contents" data-contents-url="/umlsynco/snippetor-marionette-gulp/issues/show_menu_content?partial=issues%2Ffilters%2Fauthors_content&amp;q=is%3Aissue+is%3Aopen">
  <button class="btn-link select-menu-button js-menu-target" type="button" aria-haspopup="true" data-hotkey="u">
    Author
  </button>

  <div class="select-menu-modal-holder js-menu-content js-navigation-container" aria-hidden="true">

    <div class="select-menu-modal">
      <div class="select-menu-header">
        <svg aria-label="Close" class="octicon octicon-x js-menu-close" height="16" role="img" version="1.1" viewBox="0 0 12 16" width="12"><path d="M7.48 8l3.75 3.75-1.48 1.48-3.75-3.75-3.75 3.75-1.48-1.48 3.75-3.75L0.77 4.25l1.48-1.48 3.75 3.75 3.75-3.75 1.48 1.48-3.75 3.75z"></path></svg>
        <span class="select-menu-title">Filter by author</span>
      </div>

      <div class="js-select-menu-deferred-content"></div>
      <div class="select-menu-loading-overlay">
        <svg aria-hidden="true" class="octicon octicon-octoface" height="32" role="img" version="1.1" viewBox="0 0 16 16" width="32"><path d="M14.7 4.34c0.13-0.32 0.55-1.59-0.13-3.31 0 0-1.05-0.33-3.44 1.3C10.13 2.05 9.06 2.01 8 2.01c-1.06 0-2.13 0.04-3.13 0.32C2.48 0.69 1.43 1.03 1.43 1.03 0.75 2.75 1.17 4.02 1.3 4.34 0.49 5.21 0 6.33 0 7.69 0 12.84 3.33 14 7.98 14 12.63 14 16 12.84 16 7.69 16 6.33 15.51 5.21 14.7 4.34zM8 13.02c-3.3 0-5.98-0.15-5.98-3.35 0-0.76 0.38-1.48 1.02-2.07 1.07-0.98 2.9-0.46 4.96-0.46 2.07 0 3.88-0.52 4.96 0.46 0.65 0.59 1.02 1.3 1.02 2.07C13.98 12.86 11.3 13.02 8 13.02zM5.49 8.01c-0.66 0-1.2 0.8-1.2 1.78s0.54 1.79 1.2 1.79c0.66 0 1.2-0.8 1.2-1.79S6.15 8.01 5.49 8.01zM10.51 8.01C9.85 8.01 9.31 8.8 9.31 9.79s0.54 1.79 1.2 1.79 1.2-0.8 1.2-1.79C11.71 8.8 11.18 8.01 10.51 8.01z"></path></svg>
      </div>
    </div>
  </div>
</div>

      <div class="left select-menu label-select-menu js-menu-container js-select-menu js-load-contents" data-contents-url="/umlsynco/snippetor-marionette-gulp/issues/show_menu_content?partial=issues%2Ffilters%2Flabels_content&amp;q=is%3Aissue+is%3Aopen">
  <button class="btn-link select-menu-button js-menu-target" type="button" aria-haspopup="true" data-hotkey="l">
    Labels
  </button>

  <div class="select-menu-modal-holder js-menu-content js-navigation-container" aria-hidden="true">
    <div class="select-menu-modal">
      <div class="select-menu-header">
        <svg aria-label="Close" class="octicon octicon-x js-menu-close" height="16" role="img" version="1.1" viewBox="0 0 12 16" width="12"><path d="M7.48 8l3.75 3.75-1.48 1.48-3.75-3.75-3.75 3.75-1.48-1.48 3.75-3.75L0.77 4.25l1.48-1.48 3.75 3.75 3.75-3.75 1.48 1.48-3.75 3.75z"></path></svg>
        <span class="select-menu-title">Filter by label</span>
      </div>

      <div class="js-select-menu-deferred-content"></div>
      <div class="select-menu-loading-overlay">
        <svg aria-hidden="true" class="octicon octicon-octoface" height="32" role="img" version="1.1" viewBox="0 0 16 16" width="32"><path d="M14.7 4.34c0.13-0.32 0.55-1.59-0.13-3.31 0 0-1.05-0.33-3.44 1.3C10.13 2.05 9.06 2.01 8 2.01c-1.06 0-2.13 0.04-3.13 0.32C2.48 0.69 1.43 1.03 1.43 1.03 0.75 2.75 1.17 4.02 1.3 4.34 0.49 5.21 0 6.33 0 7.69 0 12.84 3.33 14 7.98 14 12.63 14 16 12.84 16 7.69 16 6.33 15.51 5.21 14.7 4.34zM8 13.02c-3.3 0-5.98-0.15-5.98-3.35 0-0.76 0.38-1.48 1.02-2.07 1.07-0.98 2.9-0.46 4.96-0.46 2.07 0 3.88-0.52 4.96 0.46 0.65 0.59 1.02 1.3 1.02 2.07C13.98 12.86 11.3 13.02 8 13.02zM5.49 8.01c-0.66 0-1.2 0.8-1.2 1.78s0.54 1.79 1.2 1.79c0.66 0 1.2-0.8 1.2-1.79S6.15 8.01 5.49 8.01zM10.51 8.01C9.85 8.01 9.31 8.8 9.31 9.79s0.54 1.79 1.2 1.79 1.2-0.8 1.2-1.79C11.71 8.8 11.18 8.01 10.51 8.01z"></path></svg>
      </div>
    </div>
  </div>
</div>

<div class="left select-menu js-menu-container js-select-menu">
  <button class="btn-link select-menu-button icon-only js-menu-target" type="button" aria-haspopup="true">
    Sort<span class="sort-label"></span>
  </button>

  <div class="select-menu-modal-holder js-menu-content js-navigation-container" aria-hidden="true">

    <div class="select-menu-modal">
      <div class="select-menu-header">
        <svg aria-label="Close" class="octicon octicon-x js-menu-close" height="16" role="img" version="1.1" viewBox="0 0 12 16" width="12"><path d="M7.48 8l3.75 3.75-1.48 1.48-3.75-3.75-3.75 3.75-1.48-1.48 3.75-3.75L0.77 4.25l1.48-1.48 3.75 3.75 3.75-3.75 1.48 1.48-3.75 3.75z"></path></svg>
        <span class="select-menu-title">Sort by</span>
      </div>


      <div class="select-menu-list" role="menu">
        <div>
            <a href="/umlsynco/snippetor-marionette-gulp/issues?q=is%3Aopen+is%3Aissue" class="select-menu-item js-navigation-item js-navigation-open selected" role="menuitem">
              <svg aria-hidden="true" class="octicon octicon-check select-menu-item-icon" height="16" role="img" version="1.1" viewBox="0 0 12 16" width="12"><path d="M12 5L4 13 0 9l1.5-1.5 2.5 2.5 6.5-6.5 1.5 1.5z"></path></svg>
              <div class="select-menu-item-text">Newest</div>
            </a>
            <a href="/umlsynco/snippetor-marionette-gulp/issues?q=is%3Aissue+is%3Aopen+sort%3Acreated-asc" class="select-menu-item js-navigation-item js-navigation-open " role="menuitem">
              <svg aria-hidden="true" class="octicon octicon-check select-menu-item-icon" height="16" role="img" version="1.1" viewBox="0 0 12 16" width="12"><path d="M12 5L4 13 0 9l1.5-1.5 2.5 2.5 6.5-6.5 1.5 1.5z"></path></svg>
              <div class="select-menu-item-text">Oldest</div>
            </a>
            <a href="/umlsynco/snippetor-marionette-gulp/issues?q=is%3Aissue+is%3Aopen+sort%3Acomments-desc" class="select-menu-item js-navigation-item js-navigation-open " role="menuitem">
              <svg aria-hidden="true" class="octicon octicon-check select-menu-item-icon" height="16" role="img" version="1.1" viewBox="0 0 12 16" width="12"><path d="M12 5L4 13 0 9l1.5-1.5 2.5 2.5 6.5-6.5 1.5 1.5z"></path></svg>
              <div class="select-menu-item-text">Most commented</div>
            </a>
            <a href="/umlsynco/snippetor-marionette-gulp/issues?q=is%3Aissue+is%3Aopen+sort%3Acomments-asc" class="select-menu-item js-navigation-item js-navigation-open " role="menuitem">
              <svg aria-hidden="true" class="octicon octicon-check select-menu-item-icon" height="16" role="img" version="1.1" viewBox="0 0 12 16" width="12"><path d="M12 5L4 13 0 9l1.5-1.5 2.5 2.5 6.5-6.5 1.5 1.5z"></path></svg>
              <div class="select-menu-item-text">Least commented</div>
            </a>
            <a href="/umlsynco/snippetor-marionette-gulp/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc" class="select-menu-item js-navigation-item js-navigation-open " role="menuitem">
              <svg aria-hidden="true" class="octicon octicon-check select-menu-item-icon" height="16" role="img" version="1.1" viewBox="0 0 12 16" width="12"><path d="M12 5L4 13 0 9l1.5-1.5 2.5 2.5 6.5-6.5 1.5 1.5z"></path></svg>
              <div class="select-menu-item-text">Recently updated</div>
            </a>
            <a href="/umlsynco/snippetor-marionette-gulp/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-asc" class="select-menu-item js-navigation-item js-navigation-open " role="menuitem">
              <svg aria-hidden="true" class="octicon octicon-check select-menu-item-icon" height="16" role="img" version="1.1" viewBox="0 0 12 16" width="12"><path d="M12 5L4 13 0 9l1.5-1.5 2.5 2.5 6.5-6.5 1.5 1.5z"></path></svg>
              <div class="select-menu-item-text">Least recently updated</div>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>

    </div>
  </div>

    <div class="table-list-triage js-issues-toolbar-triage">
      <span class="table-list-header-meta">
        <span class="js-check-all-count">0</span> selected
      </span>

      <div class="table-list-header-toggle right">
        <div class="left select-menu js-menu-container js-select-menu js-load-contents" data-multiple="" data-contents-url="/umlsynco/snippetor-marionette-gulp/issues/show_menu_content?partial=issues%2Ftriage%2Factions_content">

  <!-- </textarea> --><!-- '"` -->
  
  
  <form accept-charset="UTF-8" action="/umlsynco/snippetor-marionette-gulp/issues/triage" data-form-nonce="22b7455b24aa4c8e2262fb34e8b218be1a6340c3" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" value="✓" type="hidden"><input name="_method" value="put" type="hidden"><input name="authenticity_token" value="L7eVnGbyaf5gATMThSN/2AjzhrmVmEtnF+4otmEB+zMXfsQ2VkMDuYtT+YFGtX+PWQpcXf9sB+YTL39veDO3Mg==" type="hidden"></div>
    <button class="btn-link select-menu-button js-menu-target" type="button" aria-haspopup="true">
      Mark as
    </button>

    <div class="select-menu-modal-holder js-menu-content js-navigation-container" aria-hidden="true">
      <div class="select-menu-modal">
        <div class="select-menu-header">
          <svg aria-label="Close" class="octicon octicon-x js-menu-close" height="16" role="img" version="1.1" viewBox="0 0 12 16" width="12"><path d="M7.48 8l3.75 3.75-1.48 1.48-3.75-3.75-3.75 3.75-1.48-1.48 3.75-3.75L0.77 4.25l1.48-1.48 3.75 3.75 3.75-3.75 1.48 1.48-3.75 3.75z"></path></svg>
          <span class="select-menu-title">Actions</span>
        </div>

        <div class="js-select-menu-deferred-content"></div>
        <div class="select-menu-loading-overlay">
          <svg aria-hidden="true" class="octicon octicon-octoface" height="32" role="img" version="1.1" viewBox="0 0 16 16" width="32"><path d="M14.7 4.34c0.13-0.32 0.55-1.59-0.13-3.31 0 0-1.05-0.33-3.44 1.3C10.13 2.05 9.06 2.01 8 2.01c-1.06 0-2.13 0.04-3.13 0.32C2.48 0.69 1.43 1.03 1.43 1.03 0.75 2.75 1.17 4.02 1.3 4.34 0.49 5.21 0 6.33 0 7.69 0 12.84 3.33 14 7.98 14 12.63 14 16 12.84 16 7.69 16 6.33 15.51 5.21 14.7 4.34zM8 13.02c-3.3 0-5.98-0.15-5.98-3.35 0-0.76 0.38-1.48 1.02-2.07 1.07-0.98 2.9-0.46 4.96-0.46 2.07 0 3.88-0.52 4.96 0.46 0.65 0.59 1.02 1.3 1.02 2.07C13.98 12.86 11.3 13.02 8 13.02zM5.49 8.01c-0.66 0-1.2 0.8-1.2 1.78s0.54 1.79 1.2 1.79c0.66 0 1.2-0.8 1.2-1.79S6.15 8.01 5.49 8.01zM10.51 8.01C9.85 8.01 9.31 8.8 9.31 9.79s0.54 1.79 1.2 1.79 1.2-0.8 1.2-1.79C11.71 8.8 11.18 8.01 10.51 8.01z"></path></svg>
        </div>
      </div>
    </div>
</form></div>

        <div class="left select-menu label-select-menu js-label-select-menu js-menu-container js-select-menu js-load-contents" data-multiple="" data-contents-url="/umlsynco/snippetor-marionette-gulp/issues/show_menu_content?partial=issues%2Ftriage%2Flabels_content">

  <!-- </textarea> --><!-- '"` --><form accept-charset="UTF-8" action="/umlsynco/snippetor-marionette-gulp/issues/triage" data-form-nonce="22b7455b24aa4c8e2262fb34e8b218be1a6340c3" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" value="✓" type="hidden"><input name="_method" value="put" type="hidden"><input name="authenticity_token" value="/9IAQ8HcBScRm4jS+B6PICgFUHu+JZZjikOSc8Lj2nZhQ+1mxY0XVT4WED071d2XHxotgPihJ4UtrGY2MKE5IA==" type="hidden"></div>
    <button class="btn-link select-menu-button js-menu-target" type="button" aria-haspopup="true">
      Label
    </button>

    <div class="select-menu-modal-holder js-menu-content js-navigation-container" aria-hidden="true">
      <div class="select-menu-modal">
        <div class="select-menu-header">
          <svg aria-label="Close" class="octicon octicon-x js-menu-close" height="16" role="img" version="1.1" viewBox="0 0 12 16" width="12"><path d="M7.48 8l3.75 3.75-1.48 1.48-3.75-3.75-3.75 3.75-1.48-1.48 3.75-3.75L0.77 4.25l1.48-1.48 3.75 3.75 3.75-3.75 1.48 1.48-3.75 3.75z"></path></svg>
          <span class="select-menu-title">Apply labels</span>
        </div>

        <div class="js-select-menu-deferred-content"></div>
        <div class="select-menu-loading-overlay">
          <svg aria-hidden="true" class="octicon octicon-octoface" height="32" role="img" version="1.1" viewBox="0 0 16 16" width="32"><path d="M14.7 4.34c0.13-0.32 0.55-1.59-0.13-3.31 0 0-1.05-0.33-3.44 1.3C10.13 2.05 9.06 2.01 8 2.01c-1.06 0-2.13 0.04-3.13 0.32C2.48 0.69 1.43 1.03 1.43 1.03 0.75 2.75 1.17 4.02 1.3 4.34 0.49 5.21 0 6.33 0 7.69 0 12.84 3.33 14 7.98 14 12.63 14 16 12.84 16 7.69 16 6.33 15.51 5.21 14.7 4.34zM8 13.02c-3.3 0-5.98-0.15-5.98-3.35 0-0.76 0.38-1.48 1.02-2.07 1.07-0.98 2.9-0.46 4.96-0.46 2.07 0 3.88-0.52 4.96 0.46 0.65 0.59 1.02 1.3 1.02 2.07C13.98 12.86 11.3 13.02 8 13.02zM5.49 8.01c-0.66 0-1.2 0.8-1.2 1.78s0.54 1.79 1.2 1.79c0.66 0 1.2-0.8 1.2-1.79S6.15 8.01 5.49 8.01zM10.51 8.01C9.85 8.01 9.31 8.8 9.31 9.79s0.54 1.79 1.2 1.79 1.2-0.8 1.2-1.79C11.71 8.8 11.18 8.01 10.51 8.01z"></path></svg>
        </div>
      </div>
    </div>
</form></div>

        <div class="left select-menu js-menu-container js-select-menu js-load-contents" data-multiple="" data-contents-url="/umlsynco/snippetor-marionette-gulp/issues/show_menu_content?partial=issues%2Ftriage%2Fmilestones_content">
  <!-- </textarea> --><!-- '"` --><form accept-charset="UTF-8" action="/umlsynco/snippetor-marionette-gulp/issues/triage" data-form-nonce="22b7455b24aa4c8e2262fb34e8b218be1a6340c3" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" value="✓" type="hidden"><input name="_method" value="put" type="hidden"><input name="authenticity_token" value="wOwe4LDhHRFT1c2vznpIECjlUl3XqcEWJBQgGLqttA2n1y/0w6ln6cm0pNvzA3N1TfOWJIX3KXAJHZscYobdDw==" type="hidden"></div>
    <button class="btn-link select-menu-button js-menu-target" type="button" aria-haspopup="true">
      Milestone
    </button>

    <div class="select-menu-modal-holder js-menu-content js-navigation-container" aria-hidden="true">
      <div class="select-menu-modal">
        <div class="select-menu-header">
          <svg aria-label="Close" class="octicon octicon-x js-menu-close" height="16" role="img" version="1.1" viewBox="0 0 12 16" width="12"><path d="M7.48 8l3.75 3.75-1.48 1.48-3.75-3.75-3.75 3.75-1.48-1.48 3.75-3.75L0.77 4.25l1.48-1.48 3.75 3.75 3.75-3.75 1.48 1.48-3.75 3.75z"></path></svg>
          <span class="select-menu-title">Set milestone</span>
        </div>

        <div class="js-select-menu-deferred-content"></div>
        <div class="select-menu-loading-overlay">
          <svg aria-hidden="true" class="octicon octicon-octoface" height="32" role="img" version="1.1" viewBox="0 0 16 16" width="32"><path d="M14.7 4.34c0.13-0.32 0.55-1.59-0.13-3.31 0 0-1.05-0.33-3.44 1.3C10.13 2.05 9.06 2.01 8 2.01c-1.06 0-2.13 0.04-3.13 0.32C2.48 0.69 1.43 1.03 1.43 1.03 0.75 2.75 1.17 4.02 1.3 4.34 0.49 5.21 0 6.33 0 7.69 0 12.84 3.33 14 7.98 14 12.63 14 16 12.84 16 7.69 16 6.33 15.51 5.21 14.7 4.34zM8 13.02c-3.3 0-5.98-0.15-5.98-3.35 0-0.76 0.38-1.48 1.02-2.07 1.07-0.98 2.9-0.46 4.96-0.46 2.07 0 3.88-0.52 4.96 0.46 0.65 0.59 1.02 1.3 1.02 2.07C13.98 12.86 11.3 13.02 8 13.02zM5.49 8.01c-0.66 0-1.2 0.8-1.2 1.78s0.54 1.79 1.2 1.79c0.66 0 1.2-0.8 1.2-1.79S6.15 8.01 5.49 8.01zM10.51 8.01C9.85 8.01 9.31 8.8 9.31 9.79s0.54 1.79 1.2 1.79 1.2-0.8 1.2-1.79C11.71 8.8 11.18 8.01 10.51 8.01z"></path></svg>
        </div>
      </div>
    </div>
</form></div>

        <div class="left select-menu js-menu-container js-select-menu js-load-contents" data-multiple="" data-contents-url="/umlsynco/snippetor-marionette-gulp/issues/show_menu_content?partial=issues%2Ftriage%2Fassigns_content">

  <!-- </textarea> --><!-- '"` --><form accept-charset="UTF-8" action="/umlsynco/snippetor-marionette-gulp/issues/triage" data-form-nonce="22b7455b24aa4c8e2262fb34e8b218be1a6340c3" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" value="✓" type="hidden"><input name="_method" value="put" type="hidden"><input name="authenticity_token" value="xynYzkKRI+ktfl68ttG/h4uqhqGqCM2WMyUXSjSn8ghX/osyBvMy66BNJIvlJifuVT126Jr6S3R5Cjk5rMP/lw==" type="hidden"></div>
    <button class="btn-link select-menu-button js-menu-target" type="button" aria-haspopup="true">
      Assign
    </button>

    <div class="select-menu-modal-holder js-menu-content js-navigation-container" aria-hidden="true">
      <div class="select-menu-modal">
        <div class="select-menu-header">
          <svg aria-label="Close" class="octicon octicon-x js-menu-close" height="16" role="img" version="1.1" viewBox="0 0 12 16" width="12"><path d="M7.48 8l3.75 3.75-1.48 1.48-3.75-3.75-3.75 3.75-1.48-1.48 3.75-3.75L0.77 4.25l1.48-1.48 3.75 3.75 3.75-3.75 1.48 1.48-3.75 3.75z"></path></svg>
          <span class="select-menu-title">Assign someone</span>
        </div>

        <div class="js-select-menu-deferred-content"></div>
        <div class="select-menu-loading-overlay">
          <svg aria-hidden="true" class="octicon octicon-octoface" height="32" role="img" version="1.1" viewBox="0 0 16 16" width="32"><path d="M14.7 4.34c0.13-0.32 0.55-1.59-0.13-3.31 0 0-1.05-0.33-3.44 1.3C10.13 2.05 9.06 2.01 8 2.01c-1.06 0-2.13 0.04-3.13 0.32C2.48 0.69 1.43 1.03 1.43 1.03 0.75 2.75 1.17 4.02 1.3 4.34 0.49 5.21 0 6.33 0 7.69 0 12.84 3.33 14 7.98 14 12.63 14 16 12.84 16 7.69 16 6.33 15.51 5.21 14.7 4.34zM8 13.02c-3.3 0-5.98-0.15-5.98-3.35 0-0.76 0.38-1.48 1.02-2.07 1.07-0.98 2.9-0.46 4.96-0.46 2.07 0 3.88-0.52 4.96 0.46 0.65 0.59 1.02 1.3 1.02 2.07C13.98 12.86 11.3 13.02 8 13.02zM5.49 8.01c-0.66 0-1.2 0.8-1.2 1.78s0.54 1.79 1.2 1.79c0.66 0 1.2-0.8 1.2-1.79S6.15 8.01 5.49 8.01zM10.51 8.01C9.85 8.01 9.31 8.8 9.31 9.79s0.54 1.79 1.2 1.79 1.2-0.8 1.2-1.79C11.71 8.8 11.18 8.01 10.51 8.01z"></path></svg>
        </div>
      </div>
    </div>
</form></div>

      </div>
    </div>
</div>


    <ul class="table-list table-list-bordered table-list-issues js-navigation-container js-active-navigation-container">
    </ul>


  <div class="paginate-container">
  </div>

  <div class="protip">
    <svg aria-hidden="true" class="octicon octicon-light-bulb text-muted" height="16" role="img" version="1.1" viewBox="0 0 12 16" width="12"><path d="M5.5 0C2.48 0 0 2.19 0 5c0 0.92 0.55 2.25 1 3 1.34 2.25 1.78 2.78 2 4v1h5v-1c0.22-1.22 0.66-1.75 2-4 0.45-0.75 1-2.08 1-3C11 2.19 8.52 0 5.5 0z m3.64 7.48c-0.25 0.44-0.47 0.8-0.67 1.11-0.86 1.41-1.25 2.06-1.45 3.23-0.02 0.05-0.02 0.11-0.02 0.17H4c0-0.06 0-0.13-0.02-0.17-0.2-1.17-0.59-1.83-1.45-3.23-0.2-0.31-0.42-0.67-0.67-1.11-0.42-0.7-0.86-1.83-0.86-2.48C1 2.8 3.02 1 5.5 1c1.22 0 2.36 0.42 3.22 1.19 0.83 0.75 1.28 1.75 1.28 2.81 0 0.66-0.44 1.78-0.86 2.48zM3 14h5c-0.23 1.14-1.3 2-2.5 2s-2.27-0.86-2.5-2z"></path></svg>
    <strong>ProTip!</strong>
    Adding <a>repo:name</a> will show all snippets for this repository.
  </div>
